@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-quicksand font-base scroll-smooth;
}

body {
  @apply bg-primary text-black;
}

@layer utilities {
  .text-hover-link {
    @apply leading-loose relative before:content-[''] 
    before:w-0 before:h-0.5  before:absolute before:bottom-[-0.3rem] before:bg-secondary
    before:transition-[width] before:duration-[0.2s,left] before:delay-[0.5s] 
    before:rounded-sm before:left-[0.2] hover:before:w-full hover:before:left-0;
  }
  .green-gradient {
    @apply bg-gradient-to-bl from-black to-secondary;
  }
  .custom-calendar {
    @apply bg-primary;
  }
}

/* Custom styles for react-calendar */
.custom-calendar .rdrDayToday .rdrDayNumber span:after {
  background-color: #e4d7cf !important;
  color: #e9d417 !important;
}

.rdrCalendarWrapper {
  background-color: #e4d7cf !important;
  @apply rounded-2xl shadow-md;
}

/* Custom Material UI Data Grid  */
.custom-header {
  @apply bg-secondary text-primary font-semibold;
}

.custom-cell {
  @apply p-2 border-b border-black bg-cream;
}
